body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a1f14;
  color: #fff;
}

.poster {
  max-width: 900px;   
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-width: 150px;   
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto 15px;
}

header h1 {
  font-size: 32px;
  color: #2bd673;
  margin: 0;
}

header h2 {
  font-size: 20px;
  color: #eaf5ed;
  margin: 0;
}

.slogan {
  margin-top: 10px;
  color: #b7d4bf;
  font-weight: bold;
}

main {
  margin-top: 20px;
}

.bloc {
  background: #11281b;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center; 
}

.bloc h3 {
  color: #2bd673;
  margin-top: 0;
}

header img {
  max-width: 100%;   
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px;
}

.bloc img {
  width: 100%;       
  max-width: 100%;  
  height: auto;      
  border-radius: 10px;
  margin-top: 15px;
  display: block;
}



ul {
  padding-left: 20px;
  text-align: left; 
}

footer {
  text-align: center;
  font-size: 14px;
  color: #b7d4bf;
  margin-top: 20px;
}

footer a {
  color: #2bd673;
  text-decoration: none;
}
